h1 {
	font-family: 'Sedgwick Ave Display', cursive;
}

.jumbotron {
	background-color: #DD4814;
}

.guessWord {
	font-size: 20px;
}

.guessWord span {
	margin-left: 15px;
}

.well {
	letter-spacing: 15px;
}

.messageText {
	color: red;
	font-size: 25px;
}