h1 {
	font-family: 'Sedgwick Ave Display', cursive;
}

.jumbotron {
	background-color: #DD4814;
}

.guessWord {
	font-size: 20px;
}

/*.guessWord span {
	margin-left: 15px;
}*/

.guessWord {
	letter-spacing: 15px;
}

.well {
	letter-spacing: 15px;
}

.messageText {
	color: red;
	font-size: 25px;
}

.generateWord {
	background-color: #DD4814;
	padding: 10px;
	font-weight; bold;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 20px;
}

input[type="text"] {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 20px;
}